<h1>Editing snow report</h1>

<%= render "form", snow_report: @snow_report %>

<br>

<div>
  <%= link_to "Show this snow report", @snow_report %> |
  <%= link_to "Back to snow reports", snow_reports_path %>
</div>
