<div class="text-center pb-4">
    <h1>Home Page</h1>
    <p>This is the landing page for the NWS Cleveland Lake Erie Lake Effect Snow Database. This database was developed by Worcester Polytechnic Institute student Austin Rebello for the NWS Cleveland WFO through the Hollings Scholar Internship in the summer of 2023.</p>
</div>
<div class="text-center">
    <%= image_tag("NOAAIMAGE.png", style: 'height:auto;width:20%;', :alt => "NOAA LOGO")%>
    <%= image_tag("Lake_Effect_Snow_Map.png", style: 'height:auto;width:50%;', :alt => "Lake Effect Snow Map")%>
    <%= image_tag("US-NationalWeatherService-Logo.svg", style: 'height:auto;width:20%;', :alt => "NWS LOGO")%>
</div>