<h1>New lake effect snow event</h1>

<%= render "form", lake_effect_snow_event: @lake_effect_snow_event %>

<br>

<div>
  <%= link_to "Back to lake effect snow events", lake_effect_snow_events_path %>
</div>
