<h1 class = 'text-center'>New Lake Effect Snow Event</h1>
<h2 class = 'text-center'>Please follow the naming convention described below when entering the event name:</h2>
<h3 class = 'text-center'>MM/DD/YY - MM/DD/YY - TYPE</h3>
<h4 class = 'text-center'>TYPE is one of three:   <b>LES</b> - Lake Effect Snow // <b>FA</b> - False Alarm // <b>HY</b> - Hybrid</h4>
<%= render "form", lake_effect_snow_event: @lake_effect_snow_event %>

<br>

<div>
  <%= link_to "Back to lake effect snow events", lake_effect_snow_events_path %>
</div>
